.page-container {
  .title {
    font-weight: bold;
  }

  .search-box {
    margin-bottom: 50px;
  }

  .list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .progress-bar {
    position: fixed;
    bottom: 10%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: red;
    // background-color: #000;
  }
}
